<div class="modal-header">
  <h5 class="modal-title">{{editMode ? "Edit": "Add"}} task</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Project Code:</label>
    <input type="text" class="form-control" title="code" required [(ngModel)]="editableTask.code">
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" title="description" rows="3" [(ngModel)]="editableTask.description"></textarea>
  </div>
  <div class="form-group">
    <label>Priority:</label>
    <select class="form-control" title="priority" required [ngModel]="editableTask.priority | lowercase"
            (ngModelChange)="editableTask.priority=$event">
      <option>{{priorities[priorities.BLOCKER] | lowercase}}</option>
      <option>{{priorities[priorities.CRITICAL] | lowercase}}</option>
      <option>{{priorities[priorities.MAJOR] | lowercase}}</option>
      <option>{{priorities[priorities.NORMAL] | lowercase}}</option>
      <option>{{priorities[priorities.MINOR] | lowercase}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Due Date:</label>
    <input type="text" class="form-control" title="dueDate" required
           [ngModel]="editableTask.dueDate | date:'yyyy-MM-dd'"
           (ngModelChange)="editableTask.dueDate=$event">
  </div>
  <div class="form-group">
    <label>Estimation:</label>
    <input type="text" class="form-control" title="estimation" [(ngModel)]="editableTask.estimation">
  </div>
  <div class="form-group">
    <label>Assignee:</label>
    <input type="text" class="form-control" title="assignee" [(ngModel)]="editableTask.assignee">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="save()">{{editMode ? "Edit": "Add"}}</button>
  <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">Cancel</button>
</div>

