<div class="modal-header">
  <h5 class="modal-title">{{editMode ? "Edit": "Add"}} task</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Project Code:</label>
    <select class="form-control" title="priority" required [(ngModel)]="projectCode">
      <option *ngFor="let project of projects">{{project.code}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" title="description" rows="3" [(ngModel)]="editableTask.description"></textarea>
  </div>
  <div class="form-group">
    <label>Priority:</label>
    <select class="form-control" title="priority" required [ngModel]="editableTask.priority | lowercase"
            (ngModelChange)="editableTask.priority=$event">
      <option *ngFor="let priority of priorities">{{priority | lowercase}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Due Date:</label>
    <input class="form-control"
           placeholder="Datepicker"
           [(ngModel)]="editableTask.dueDate"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
  </div>
  <div class="form-group">
    <label>Estimation:</label>
    <input type="text" class="form-control" title="estimation" [(ngModel)]="editableTask.estimation">
  </div>
  <div class="form-group">
    <label>Assignee:</label>
    <select class="form-control" title="priority" required [(ngModel)]="assignee">
      <ng-container *ngFor="let user of users">
        <option *ngIf="user.role !== 'ADMIN'">{{user.username}}</option>
      </ng-container>
    </select>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="save()">{{editMode ? "Edit": "Add"}}</button>
  <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">Cancel</button>
</div>

