<div class="table-responsive">
  <table class="table table-hover" [mfData]="tasks" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="border-right">
        <mfDefaultSorter by="code">Ticket Code</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="status">Status</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="created">Created</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="updated">Updated</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="dueDate">Due Date</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="estimation">Estimation</mfDefaultSorter>
      </th>
      <th scope="col">
        <mfDefaultSorter by="assignee">Assignee</mfDefaultSorter>
      </th>
      <ng-container *ngIf="currentUser.role === 'PROJECT_MANAGER'">
        <th scope="col" class="border-left" >Edit</th>
      </ng-container>
      <th scope="col" class="border-left">Details</th>
      <ng-container *ngIf="currentUser.role === 'PROJECT_MANAGER'">
        <th scope="col" class="border-left">Delete</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of mf.data">
      <th scope="row" class="border-right">{{task.code}}</th>
      <td>{{task.priority | lowercase}}</td>
      <td>{{task.status | lowercase}}</td>
      <td>{{task.created | date:'yyyy-MM-dd in HH:mm'}}</td>
      <td>{{task.updated | date:'yyyy-MM-dd in HH:mm'}}</td>
      <td>{{task.dueDate | date:'yyyy-MM-dd'}}</td>
      <td>{{task.estimation}}</td>
      <td>{{task.assignee.username}}</td>
      <ng-container *ngIf="currentUser.role === 'PROJECT_MANAGER'">
        <td class="border-left" >
          <button class="btn btn-outline-primary btn-sm btn-block btn-size" (click)="edit(task)">Edit</button>
        </td>
      </ng-container>
      <td class="border-left">
        <a href="task-details" class="btn btn-outline-primary btn-sm btn-block btn-size"
           (click)="details(task)">Details</a>
      </td>
      <ng-container *ngIf="currentUser.role === 'PROJECT_MANAGER'">
        <td class="border-left" >
          <button class="btn btn-outline-danger btn-sm btn-block btn-size" (click)="delete(task)">Delete</button>
        </td>
      </ng-container>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
