/* Main content styles
-------------------------------------------------- */
.wrapper {
  margin-left: 5vw;
}

.jumbotron-size {
  width: 88vw;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .filter {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
