<div class="modal-header">
  <h5 class="modal-title">New task</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Project Code:</label>
    <input type="text" class="form-control" title="code" required [(ngModel)]="editableTask.code">
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" title="description" rows="3" [(ngModel)]="editableTask.description"></textarea>
  </div>
  <div class="form-group">
    <label>Priority:</label>
    <input type="text" class="form-control" title="priority" required [(ngModel)]="editableTask.priority">
  </div>
  <div class="form-group">
    <label>Estimation:</label>
    <input type="text" class="form-control" title="estimation" [(ngModel)]="editableTask.estimation">
  </div>
  <div class="form-group">
    <label>Assignee:</label>
    <input type="text" class="form-control" title="assignee" [(ngModel)]="editableTask.assignee">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="addTask()">Add task</button>
  <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">Cancel</button>
</div>

