<div class="row mb-1">
  <div class="col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item pr-0 pl-0 pt-0 clearfix" *ngFor="let user of users">
        <a href="profile" class="user" style="background-image: url('http://placehold.it/400x200')"></a>
        <span><a href="profile">{{user.username}}</a></span>
        <span class="ml-4 text-muted ">{{user.role | view}}</span>
        <div class="float-right mt-2">
          <ng-container *ngIf="currentUser.role === 'ADMIN'">
            <button class="btn btn-outline-primary btn-sm btn-size" (click)="edit(user)">Edit</button>
            <button class="btn btn-outline-danger btn-sm btn-size ml-2" (click)="delete(user.id)">Delete</button>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</div>
