.wrapper {
  margin-left: 10vw;
}

.jumbotron-size {
  padding-top: 2rem;
  margin-top: 5rem;
  width: 76vw;
}

.actions-row > .col {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 767px) {
  .media-width {
    width: inherit !important;
    margin-left: 1rem;
  }

  .actions-row > .col {
    margin-bottom: 0.25rem;
  }
}
