<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col" class="border-right">Ticket Code</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Due Date</th>
      <th scope="col">Estimation</th>
      <th scope="col">Assignee</th>
      <th scope="col" class="border-left">Edit</th>
      <th scope="col" class="border-left">Details</th>
      <th scope="col" class="border-left">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="border-right">ServiceManager-6</th>
      <td>major</td>
      <td>open</td>
      <td>15.07.2018</td>
      <td>15.07.2018</td>
      <td>20.07.2018</td>
      <td>-</td>
      <td>test_2</td>
      <td class="border-left">
        <button class="btn btn-outline-primary btn-sm btn-block btn-size">Edit</button>
      </td>
      <td class="border-left">
        <a href="task-details" class="btn btn-outline-primary btn-sm btn-block btn-size">Details</a>
      </td>
      <td class="border-left">
        <button class="btn btn-outline-danger btn-sm btn-block btn-size">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
