<accordion>
  <accordion-group heading="Project system">
    <h5>Description:</h5>
    <p>...............................................................................#1</p>
    <a href="home" class="btn btn-outline-primary">Go to tasks</a>
  </accordion-group>
  <accordion-group heading="Managment system">
    <h5>Description:</h5>
    <p>...............................................................................#2</p>
    <a href="home" class="btn btn-outline-primary">Go to tasks</a>
  </accordion-group>
  <accordion-group heading="Sandbox">
    <h5>Description:</h5>
    <p>...............................................................................#3</p>
    <a href="home" class="btn btn-outline-primary">Go to tasks</a>
  </accordion-group>
</accordion>

