/* General styles
-------------------------------------------------- */
.w-95_1 {
    width: 95.1%;
}



/* Navbar styles
-------------------------------------------------- */
.user {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* Main content styles
-------------------------------------------------- */
.jumbotron {
    margin-top: 5rem;
}

@media (max-width: 768px) {
    .filter {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}


/* Task modal styles
-------------------------------------------------- */
#taskView > .modal-large {
    max-width: 50% !important;
}

.actions-row > .col {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 992px) and (max-width: 1100px) {
    .closeButton {
        max-width: 15.4% !important;
    }
}