/* General styles
-------------------------------------------------- */
a {
    text-decoration: none !important;
}

/* Navbar styles
-------------------------------------------------- */
.user {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    top: 4px;
    cursor: pointer;
}

/* Main content styles
-------------------------------------------------- */
.container {
    margin-left: 5vw;
}

.jumbotron {
    padding-top: 3rem;
    margin-top: 5rem;
    width: 88vw;
}

@media (max-width: 768px) {
    .filter {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

/* Task modal styles
-------------------------------------------------- */
.actions-row > .col {
    padding-left: 5px;
    padding-right: 5px;
}