/* Main content styles
-------------------------------------------------- */
.wrapper {
    margin-left: 10vw;
}

.jumbotron-size {
    padding-top: 2rem;
    margin-top: 5rem;
    width: 76vw;
}

.actions-row > .col {
    padding-left: 5px;
    padding-right: 5px;
}