/* Main content styles
-------------------------------------------------- */
.container {
    margin-left: 10vw;
}

.jumbotron {
    padding-top: 2rem;
    margin-top: 5rem;
    width: 76vw;
}

.jumbotron > .container {
    margin-left: 0;
    margin-right: 0;
}
