/* Main content styles
-------------------------------------------------- */
.jumbotron-size {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 5rem;
    margin-left: 11vw;
    width: 45vw;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 5%;
    background: no-repeat center center;
    background-size: cover;
}
