<home-page-navbar></home-page-navbar>

<main class="container container-margin">
  <div class="jumbotron jumbotron-size border bg-white">
    <div class="container ml-0 mr-0">
      <div class="row border-bottom mb-3 pb-3"><h4>Project</h4></div>

      <!-- Action buttons-->
      <div class="row mb-1"><h5>Actions:</h5></div>
      <div class="row mb-1 actions-row">
        <div class="col col-lg col-md-4 mb-md-2 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">Edit</button>
        </div>
        <div class="col col-lg col-md-4 mb-md-2 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">Assign</button>
        </div>
        <div class="col col-lg col-md-4 mb-md-2 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">In progress</button>
        </div>
        <div class="col col-lg col-md-4 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">Ready for Test</button>
        </div>
        <div class="col col-lg col-md-4 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">Reopened</button>
        </div>
        <div class="col col-lg col-md-4 col-12">
          <button class="btn btn-outline-primary btn-block btn-sm">Closed</button>
        </div>
      </div>

      <!-- Details -->
      <div class="row mb-1"><h5>Details:</h5></div>
      <div class="row mb-1">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-3 pl-0">
              <label for="priority">Priority:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control media-width h-75 w-50" id="priority"
                     placeholder="Normal" disabled="disabled">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 pl-0">
              <label for="status">Status:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 w-50 media-width" id="status"
                     placeholder="Open" disabled="disabled">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="assignee">Assignee:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="assignee" placeholder="User"
                     disabled="disabled">
            </div>
          </div>
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="reporter">Reporter:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="reporter" placeholder="User"
                     disabled="disabled">
            </div>
          </div>
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="estimation">Estimation:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="estimation" placeholder="3d"
                     disabled="disabled">
            </div>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="row mb-1"><h5>Description:</h5></div>
      <div class="row mb-1">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <textarea class="form-control" rows="5" title="description"></textarea>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="created">Created:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="created"
                     placeholder="21.09.2018" disabled="disabled">
            </div>
          </div>
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="updated">Updated:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="updated"
                     placeholder="23.09.2018" disabled="disabled">
            </div>
          </div>
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="resolved">Resolved:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="resolved"
                     placeholder="30.09.2018" disabled="disabled">
            </div>
          </div>
          <div class="row offset-md-5">
            <div class="col-md-3 pl-0">
              <label for="closed">Closed:</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control h-75 ml-3" id="closed"
                     placeholder="02.10.2018" disabled="disabled">
            </div>
          </div>
        </div>
      </div>

      <!-- Attachments -->
      <div class="row mb-1"><h5>Attachments:</h5></div>
      <div class="row mb-1">
        <div class="col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">index.html</li>
            <li class="list-group-item">readme.md</li>
            <li class="list-group-item">style.css</li>
            <li class="list-group-item">main.js</li>
          </ul>
        </div>
      </div>

      <!-- Comments -->
      <div class="row mb-1"><h5>Comments:</h5></div>
      <div class="row mb-1">
        <div class="col-md-12">
          <div class="form-group">
            <textarea class="form-control" title="comments" rows="5"></textarea>
          </div>
          <button class="btn btn-outline-primary float-right">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</main>

