<div class="btn-group" dropdown>
  <div class="user-button" dropdownToggle style="background-image: url('http://placehold.it/400x200')"></div>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-margin-top" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="profile">Profile</a></li>
    <li role="menuitem"><a class="dropdown-item" href="projects">Project list</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="">Sign out</a>
    </li>
  </ul>
</div>
