<main class="container">
  <div class="jumbotron jumbotron-margin bg-white">
    <h1 class="display-4">NCSchool Project</h1>
    <p class="lead">This is an educational project that allows you to manage projects and tasks.<br> Here the
      following functions are implemented:</p>
    <ul class="list-view lead">
      <li>create users with specified roles</li>
      <li>create new projects</li>
      <li>create and distribute tasks to performers</li>
      <li>have a project life cycle and tasks</li>
      <li>assess the complexity, importance and date of the task</li>
    </ul>
    <button class="btn btn-lg btn-outline-primary btn-padding" (click)="openSignInModal()">Sign in
    </button>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">NCSchool Project &copy; ncdevschool 2018</span>
  </div>
</footer>
