<main class="container">
  <div class="jumbotron jumbotron-margin bg-white">
    <h1 class="display-4">Project System</h1>
    <p class="lead">This is an educational project that allows you to manage projects and tasks.<br> Here the
      following functions are implemented:</p>
    <ul class="list-view lead">
      <li>create users with specified roles</li>
      <li>create new projects</li>
      <li>create and distribute tasks to performers</li>
      <li>have a project life cycle and tasks</li>
      <li>assess the complexity, importance and date of the task</li>
      <li>to predict the download of users on the project</li>
      <li>plan work</li>
    </ul>
    <button class="btn btn-lg btn-outline-primary btn-padding">Sign in
    </button>
  </div>
</main>
